.Agenda {
  background-color: #F8F9FA;
  padding: 25px 0;
}

.Agenda .header {
  font-size: 5vmin;
  width: 50%;
  margin: 0 auto;
}

.Agenda .highlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #FF00AA 50%);
  padding: 0 5px;
  font-weight: bold;
}

.Agenda .message {
  font-size: 3vmin;
  text-align: justify;
  width: 600px;
  margin: 25px auto;
}

.Agenda .accordion {
  font-size: 3vmin;
  width: 600px;
  margin: 25px auto 0 auto;
}

.Agenda .btn {
  font-size: 3vmin;
}

.Agenda .rsvp-button {
  font-size: 3vmin;
  width: 600px;
  margin: 25px auto 0 auto;
}

@media (max-width: 992px) {
  .Agenda .message {
    font-size: 4vmin;
    width: 90%;
  }

  .Agenda .accordion {
    font-size: 4vmin;
    width: 90%;
  }

  .Agenda .btn {
    font-size: 4vmin;
  }

  .Agenda .rsvp-button {
    font-size: 4vmin;
    width: 90%;
  }
}
